APP_PORT=8000
DB_HOST=postgres
DB_PORT=5432
DB_NAME=orders
DB_USER=order_user
DB_PASSWORD=change_me

# The image used by Render for the products API
PRODUCTS_API_IMAGE=ghcr.io/aleksandraqa18/products-api:latest